.app {
  min-height: 100vh;
  width: 100%;
}

.container {
  padding: 0 1rem;
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1024px;
  background: linear-gradient(
    180deg,
    rgba(0, 27, 112, 1) 0%,
    rgba(0, 9, 35, 1) 100%
  );
}

.bg:after {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/image_19.png) no-repeat;
  background-size: cover;
  background-position: 70% 0%;

  mix-blend-mode: lighten;
  opacity: 0.3;
  transform: scaleX(-1);
}

.some-content {
  height: 300px;
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 800px) {
  .bg:after {
    background-size: auto 115%;
    background-position: bottom;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }

  .wrapper {
    flex-direction: row;
  }
}
