:root {
  --ff-light: 'Rubik Light';
  --ff-medium: 'Rubik Medium';
  --ff-bold: 'Rubik Black';
  --cr-text: #fff;
  --shadow-hover: 1px 1px 2px #000, 0 0 25px blue, 0 0 5px darkblue;
  --height-hero: 1024px;
  --grad-darkblue: linear-gradient(
    180deg,
    rgba(0, 27, 112, 1) 0%,
    rgba(0, 9, 35, 1) 100%
  );
}

body {
  margin: 0;
  font-family: var(--ff-light), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* resets --> */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}
/* <-- resets */
